.team-block {
    position: relative;
    text-align: center;
    border: 1px solid $smoke-color;
    border-radius: 20px 20px 0 0;
    z-index: 2;

    .info-item {
        position: relative;
        background-color: $smoke-color;
        padding: 30px;
        z-index: 3;
        transition: all 0.4s; 


    }

  .box-title {
    margin-bottom: 0px; 
  }

   .social-links{
    padding-top: 10px; 
   }

    .team-img {
        border-radius: 20px 20px 0 0;
        margin-bottom: -70px; 

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;  
        }
    }

    &_content {
        background-color: $smoke-color; 
        position: absolute;
        bottom: -60px;
        width: 100%;
        display: block;
        margin: auto; 
        text-align: center;
        padding: 30px; 
        transition: all 0.4s ease-in-out;
        margin-bottom: 30px;
        z-index: 4; 
        opacity: 0;
        visibility: hidden;

        @media(max-width: 1299px) {
            padding: 15px 25px;
        }
    }

    &:hover {
        .team-block {
            &_content { 
                bottom: -30px;  
                opacity: 1;
                visibility: visible;
            }
        }

        .info-item { 
            transform: translateY(20px);
            opacity: 0;
            visibility: visible;
        }
    }
}