/* About us -------------------------------- */
.img-box6 {
    .img1 {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

.counter-content {
    &.style3 {
        background-color: $smoke-color2;
        padding: 30px 20px 30px 20px;
        margin-top: 30px;

        @include lg {
            margin-bottom: 30px;
            padding: 30px;
        }
        @media(max-width: 480px) {         
            display: block;
        }

        .th-counterup {
            .counter {
                color: $theme-color;
            }

            @include lg {
                padding: 0;
                border: none;
                text-align: left;
            }
            @media(max-width: 480px) {   
                margin-bottom: 20px;  
            }

            .inner {
                max-width: 216px;

                @include lg {
                    display: flex;
                    margin: 0;
                }
                
            }
        }
    }
}

.journey-wrap {
    &.style2 {
        justify-content: space-between;

        @include sm {
            display: block;
        }

        .checklist {
            li {
                font-family: $title-font;
                font-size: 20px;
                font-weight: 700;
            }

            @include sm {
                margin-bottom: 20px;
            }
        }
    }
}

.journey-image {
    &.style2 {
        position: relative;  

        img {
            width: 100%;
        }

        .play-btn {
            position: absolute;
            left: 42%;
            top: 35%;

            >i {
                width: var(--icon-size, 46px);
                height: var(--icon-size, 46px);
                line-height: var(--icon-size, 46px);
            }
        }
    }
}