/* Couple 1 ---------------------------------- */
.couple-box {
    width: 495px;
    padding: 30px;
    &_img {
        margin-bottom: 15px;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    &_title {
        color: $white-color;
        font-size: 36px;
    }
    &_text {
        color: $white-color;
        max-width: 340px;
        margin-bottom: 20px;
    }
    &.left {
        text-align: right;
        .couple-box {
            &_text {
                margin-left: auto;
            }
        }
    }
}

.frame-box1 {
    position: relative;
    text-align: center;
    .img1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        text-align: center;
        padding: 18px 52px;
        img {
            border-radius: 999px;
        }
    }
}

@include xxl {
    .couple-box {
        width: 466px;
    }
}

@include lg {
    .couple-box {
        width: 100%;
        &_title {
            font-size: 32px;
        }
    }
}

@include lg {
    .couple-box {
        padding: 30px 15px;
        background-position: left center;
        &.left {
            background-position: right center;
        }
    }
}

@include md {
    .couple-box {
        &.style2 {
            text-align: center;
            .couple-box_text {
                max-width: 520px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

@include vxs {
    .frame-box1 .img1 {
        padding: 12px 40px;
    }
}